
/*居中*/
.cont{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

/*显示隐藏*/
.hide{display: none;}
.show{display: block;}

/*浮动*/
.fl{float: left;}
.fr{float: right;}

/*清除浮动*/
.clearfix{ zoom:1; }
.clearfix:after{display: block;visibility: hidden;voerflow: hidden;content: ".";clear: both;height: 0;}

/*文本溢出*/
.wbyc{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.wbyc2{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.wbyc3{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.wbyc4{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;}
.wbyc5{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;}

/*文字对齐*/
.t_c{text-align: center;}
.t_r{text-align: right;}
.t_l{text-align: left;}

/*透明*/
.opacity{filter: alpha(opacity=0);-moz-opacity: 0; -khtml-opacity: 0;opacity: 0;}
.opacity1{filter: alpha(opacity=.1);-moz-opacity: .1; -khtml-opacity: .1;opacity: .1;}
.opacity2{filter: alpha(opacity=.2);-moz-opacity: .2; -khtml-opacity: .2;opacity: .2;}
.opacity4{filter: alpha(opacity=.4);-moz-opacity: .4; -khtml-opacity: .4;opacity: .4;}
.opacity6{filter: alpha(opacity=.6);-moz-opacity: .6; -khtml-opacity: .6;opacity: .6;}

/*滚动条*/
.over_y{overflow-y: auto;}
.over_x{overflow-x: auto;white-space: nowrap;}
.over{overflow: auto;}
.over_hidden{overflow: hidden;}

/*删除线*/
.scx{text-decoration:line-through;}

