  
/*字体颜色*/
  .f_co_999{ color: #999;}  .f_co_000{ color: #000;}
  .f_co_fff{color: #fff;}
  .f_co_D7474C{color: #D7474C;}
  .f_co_fd655a{color: #fd655a}.f_co_4F81B3{color: #4F81B3}

/*字体大小*/
  .f26{ font-size: 26px;}
  .f24{ font-size: 24px;}
  .f20{ font-size: 20px;}
  .f18{ font-size: 18px;}
  .f16{ font-size: 16px;}
  .f14{ font-size: 14px;}
  .f12{ font-size: 12px;}
  .f10{ font-size: 10px;}

.cursor{cursor: pointer !important;}
/*背景颜色*/
  .bg_red{ background-color: #ff6350;}.bg_e3e4e5{ background-color: #e3e4e5;}
  .bg_f1f1f1{background-color: #f1f1f1;}.bg_fff{background-color: #fff;}
/*间距*/
  .pl-5{ padding-left: 5px;}.pl-10{ padding-left: 10px;}
  .pt-30{ padding-top: 30px;}
  .pb-30{ padding-bottom: 30px;}
  .pr-5{ padding-right: 5px;}
  
  .ml-10{margin-left: 10px;}
  .mr-5{margin-right: 5px;}.mr-10{margin-right: 10px;}.mr-40{margin-right: 40px;}.mr-60{margin-right: 60px;}

  .mt-10{margin-top: 10px;}.mt-15{margin-top: 15px;}
  .mt-20{margin-top: 20px;}
  .mt-30{margin-top: 30px;}.mt-40{margin-top: 40px;}.mt-50{margin-top: 50px;}.mt-60{margin-top: 60px;}
  .mb-30{margin-bottom: 30px;}
/*缩紧*/
  .text-indent_1{text-indent:1em}.text-indent_2{text-indent:2em}.text-indent_3{text-indent:3em}


/*边框*/
  .bor{border:1px solid #e3e4e5;}
  .bor-b{border-bottom: 1px solid #e3e4e5;}
  .borau-10{border-radius: 10px;}

/*宽度*/
  .w100{width: 100%;}
  .w-70{width: 70px;}
  .w-80{width: 80px;}
  .w-100{width: 100px;}
  .w-120{width: 120px;}
  .w-300{width: 300px;}
  .w-390{width: 390px;}
/*高度*/
  .h100{height: 100%;}
  .h-26{height: 26px;}
  .h-36{height: 36px;}
  .h-40{height: 40px;}
  .h-50{height: 50px;}
  .h-85{height: 85px;}
  .h-360{height: 360px;}

  .height160{height: 160px;}

/******************************** flex 兼容性处理 ***************************************/
.flexbox{  display: -webkit-box;  display: -ms-flexbox;  display: flex;  }
.box_start{  display: -webkit-box;  display: -ms-flexbox;  display: flex;  -webkit-box-pack: start;  -ms-flex-pack: start;  justify-content: flex-start;  -webkit-box-align: center;  -ms-flex-align: center;  align-items: center;  }
.box_center{  display: -webkit-box;  display: -ms-flexbox;  display: flex;  -webkit-box-pack: center;  -ms-flex-pack: center;  justify-content: center;  -webkit-box-align: center;  -ms-flex-align: center;  align-items: center;  }
.box_between{  display: -webkit-box;  display: -ms-flexbox;  display: flex;  -webkit-box-pack: justify;  -ms-flex-pack: justify;  justify-content: space-between;  -webkit-box-align: center;  -ms-flex-align: center;  align-items: center;  }
.box_arou{  display: -webkit-box;  display: -ms-flexbox;  display: flex;  -ms-flex-pack: distribute;  justify-content: space-around;  -webkit-box-align: center;  -ms-flex-align: center;  align-items: center;  }
.box_end{  display: -webkit-box;  display: -ms-flexbox;  display: flex;  -webkit-box-pack: end;  -ms-flex-pack: end;  justify-content: flex-end;  -webkit-box-align: center;  -ms-flex-align: center;  align-items: center;  }
.media{  display: -webkit-box;  display: -ms-flexbox;  display: flex;  -webkit-box-align: start;  -ms-flex-align: start;  align-items: flex-start;  }
.flex-direction{  display: -webkit-box;  display: -ms-flexbox;  display: flex;  -webkit-box-orient: vertical;  -webkit-box-direction: normal;  -ms-flex-direction: column;  flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center;  }
.flex-justify_center{  -webkit-box-pack: center;  -ms-flex-pack: center;  justify-content: center;  }
.flex-justify_between{  -webkit-box-pack: justify;  -ms-flex-pack: justify;  justify-content: space-between;  }
.flex-justify_around{  -ms-flex-pack: distribute;  justify-content: space-around;  }
.flex-justify_evenly{  -webkit-box-pack: space-evenly;  -ms-flex-pack: space-evenly;  justify-content: space-evenly;  }
.align_self_start{-ms-flex-item-align: start;align-self: flex-start;}
.align_self_end{-ms-flex-item-align: end;align-self: flex-end;}
.align_item_start{-webkit-box-align: start;-ms-flex-align: start;align-items: start;}
.align_item_end{-webkit-box-align: end;-ms-flex-align: end;align-items: end;}
.align_item_flex_end{-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;}
/*项目排不下会换行*/
.flex_wrap{  -ms-flex-wrap: wrap;  flex-wrap: wrap;  }
.flex_nowrap{  -ms-flex-wrap: nowrap;  flex-wrap: nowrap;  }
.grid_cell {  -webkit-box-flex: 1;  -ms-flex: 1;  flex: 1;  }
.grid_cell2{  -webkit-box-flex: 2;  -ms-flex: 2;  flex: 2;  }
.grid_cell.u_full {  -webkit-box-flex: 0;  -ms-flex: 0 0 100%;  flex: 0 0 100%;  }
.grid_cell.u_1of2 {  -webkit-box-flex: 0;  -ms-flex: 0 0 50%;  flex: 0 0 50%;  }
.grid_cell.u_1of3 {  -webkit-box-flex: 0;  -ms-flex: 0 0 33.3333%;  flex: 0 0 33.3333%;  }
.grid_cell.u_1of4 {  -webkit-box-flex: 0;  -ms-flex: 0 0 25%;  flex: 0 0 25%;  }
.grid_cell.u_1of5 {  -webkit-box-flex: 0;  -ms-flex: 0 0 20%;  flex: 0 0 20%;  }
.grid_cell.u_1of6 {  -webkit-box-flex: 0;  -ms-flex: 0 0 16.667%;  flex: 0 0 16.667%;  }
.grid_cell.u_1of7 {  -webkit-box-flex: 0;  -ms-flex: 0 0 14.2857%;  flex: 0 0 14.2857%;  }
.grid_cell.u_lof60 {  -webkit-box-flex: 0;  -ms-flex: 0 0 60%;  flex: 0 0 60%;  }
.grid_cell.u_lof70 {  -webkit-box-flex: 0;  -ms-flex: 0 0 70%;  flex: 0 0 70%;  }